@import "css/global.css";

/*Header*/
#header {
    background: url("../../images/header-background.jpg") no-repeat fixed center;
    min-width: 100%;
    min-height: 400px;
    height: 30vh;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
}

#header .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 150px;
    width: 100%;
}

#header .content .info {
    display: flex;
    flex-direction: column;
}

#header .content .info .minecraft-server-ip {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#header .content .info .title {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
}

#header .content .info .title span {
    color: var(--main-color);
}

#header .content .description {
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
}

.main5 {
    background-color: var(--background2);
    min-height: 10rem;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main5_admin_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem .5rem 1rem;
}
.main5_admins_div{
    display: flex;
    max-width: 46rem;
    min-height: 18rem;
    background-color: var(--background1);
    border-radius: var(--roundness);
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.main5_admins_dev_type1 {
    flex-direction:row;
    padding-right: 2rem;
}
.main5_admins_dev_type2 {
    flex-direction: row-reverse;
    padding-left: 2rem;
}

.main5_admins_img {
    border-radius: var(--roundness);
    max-width: 45%;
    max-height: 100%;
    align-self: center;
}
.main5_admins_description_div {
    display: flex;
    justify-content: center;
    justify-self: center;
    max-width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.main5_admins_description_rank {
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.main5_admins_description_rank_owner {
    color: #3498db;
}
.main5_admins_description_rank_admin {
    color: #f82f2f;
}
.main5_admins_description_title {
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    margin-bottom: .5rem;
}
.main5_admins_description_title:hover {
    color: var(--accent1);
    transform: scale(1.05)
}

.main5_admins_description {
    margin-bottom: auto;
    font-size:1.2rem;
}


.main5_supporter_div {
    display: flex;
    max-width: 825px;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.main5_supporters_div {
    width: 23.5rem;
    min-height: 16rem;
    background-color: var(--background1);
    border-radius: var(--roundness);
    margin: .5rem;
    display: flex;
}

.main5_supporters_img {
    border-radius: var(--roundness);
    max-width: 25%;
    max-height: 100%;
    align-self: center;
    margin: 1rem;
}
.main5_supporters_description_div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem 1rem 1rem;
    flex-direction: column;
}
.main5_supporters_description_rank {
    text-align: center;
    font-size:1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.main5_supporters_description_rank_supporter {
    color: #00f8ff;
}
.main5_supporters_description_title {
    text-align: center;
    font-size:1.3rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    margin-bottom: .5rem;
}
.main5_supporters_description_title:hover {
    color: var(--accent1);
    transform: scale(1.05)
}

.main5_supporters_description {
    font-size:1.2rem;
    margin-bottom: auto;
}


/*Admin-Team*/
#admin-team .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#admin-team .group {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#admin-team .group .rank-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#admin-team .group .rank-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#admin-team .group .rank-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}

#admin-team .group .users {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

#admin-team .group .users .user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#admin-team .group .users .user img {
    max-width: 150px;
}

#admin-team .group .users .user .name {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

#admin-team .group .users .user .rank {
    color: var(--white-color);
    font-size: 17px;
    width: fit-content;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
}

.rank {
    background: var(--default-rank-color);
}

/*Footer*/
#footer {
    background: var(--stats-background);
}

/*Responsive*/
/*Header*/
@media screen and (max-width: 1625px) {
    #header .content {
        padding: 150px 90px;
    }
}

@media screen and (max-width: 1361px) {
    #header .content {
        flex-direction: column;
        padding: 120px 90px;
    }
}

@media screen and (max-width: 819px) {
    #header .content {
        padding: 150px 30px;
    }

    #header .content .info .minecraft-server-ip {
        font-size: 15px;
    }

    #header .content .info .title {
        font-size: 40px;
    }

    #header .content .info .description {
        font-size: 16px;
    }
}

@media screen and (max-width: 530px) {
    #header .content {
        justify-content: start;
        align-items: start;
    }

    #header .content .info .title {
        font-size: 30px;
    }
}

/*Admin-Team*/
@media screen and (max-width: 390px) {
    #admin-team .group .users .user img {
        max-width: 100%;
    }

    #admin-team .group .users .user .name {
        font-size: 20px;
    }
}